<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gastronomia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_home') }}">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_ingredient') }}">Ingredients
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_recipe_list') }}">Recettes
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{{ path('app_login') }}">Login</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</nav>